In [18]:
import pandas as pd
import numpy as np
import math
import yaml

pd.options.display.max_columns = 9999
pd.set_option("display.float_format", "${:,.0f}".format)

In [19]:
%load_ext lab_black

The lab_black extension is already loaded. To reload it, use:
  %reload_ext lab_black

# Input

In [20]:
MAX_SUPPLY = 1_500_000_000

In [21]:
with open("input_saage.yaml", "r") as stream:
    distribution = yaml.safe_load(stream)

In [22]:
CONSTANTS = {"total_months": 48}

# Calculation

In [23]:
categories = distribution.keys()

df = pd.DataFrame(columns=categories, index=range(CONSTANTS["total_months"])).fillna(0)

In [26]:
for month in range(CONSTANTS["total_months"]):
    for category in categories:
        params = distribution[category]

        if month == 0 and "initial_supply" in params:
            df.loc[month, category] = params["initial_supply"]
        else:

            if not params.get("exponential", False):
                if (
                    params["month_offset"]
                    <= month
                    < params["month_offset"] + params["month_distribution"]
                ):
                    df.loc[month, category] = (
                        params["weight"] * MAX_SUPPLY - params.get("initial_supply", 0)
                    ) / max(1, params["month_distribution"])
            else:
                if month > 0:
                    # find period

                    period = 0
                    start_period = 0
                    month_id = -1

                    for i, month_period in enumerate(
                        params["exponential_arg"]["month"]
                    ):

                        if month <= start_period + month_period:

                            month_id = i
                            month_len = params["exponential_arg"]["month"][i]
                            weight = params["exponential_arg"]["weight"][i]
                            break
                        else:
                            start_period += month_period

                    if month_id >= 0 :

                        current_scalar = math.exp(-month / 12)
                        scalars = [
                            math.exp(-m / 12)
                            for m in range(
                                start_period + 1, start_period + month_period + 1
                            )
                        ]

                        distribution_amount = params["weight"] * MAX_SUPPLY * weight


                        df.loc[month, category] = (
                    current_scalar / sum(scalars) * distribution_amount
                        )

0.9200444146293233 6.0714483406218624 25500000.000000004
3864173.959296961
0.8464817248906141 6.0714483406218624 25500000.000000004
3555211.668407247
0.7788007830714049 6.0714483406218624 25500000.000000004
3270952.6383430855
0.7165313105737893 6.0714483406218624 25500000.000000004
3009421.705424604
0.6592406302004438 6.0714483406218624 25500000.000000004
2768801.63134016
0.6065306597126334 6.0714483406218624 25500000.000000004
2547420.4761310727
0.5580351457700471 6.0714483406218624 25500000.000000004
2343739.980776765
0.513417119032592 6.0714483406218624 25500000.000000004
2156344.8786571
0.4723665527410147 6.0714483406218624 25500000.000000004
1983933.06162301
0.4345982085070782 3.8781998233819026 178500000.0
20003038.458927352
0.39984965434484737 3.8781998233819026 178500000.0
18403683.809751656
0.36787944117144233 3.8781998233819026 178500000.0
16932206.497766115
0.3384654251067422 3.8781998233819026 178500000.0
15578382.01562005
0.3114032239145977 3.8781998233819026 178500000.0
14332803.362433124
0.2865047968601901 3.8781998233819026 178500000.0
13186815.67958698
0.26359713811572677 3.8781998233819026 178500000.0
12132456.112750385
0.24252107463564868 3.8781998233819026 178500000.0
11162398.482271383
0.22313016014842982 3.8781998233819026 178500000.0
10269902.377480619
0.20528965757990927 3.8781998233819026 178500000.0
9448766.321189452
0.18887560283756183 3.8781998233819026 178500000.0
8693284.678948013
0.17377394345044514 3.8781998233819026 178500000.0
7998208.01364879
0.1598797460796939 3.8781998233819026 178500000.0
7358706.610001063
0.1470964673929768 3.8781998233819026 178500000.0
6770336.915427359
0.1353352832366127 3.8781998233819026 178500000.0
6229010.664197664
0.12451447144412296 0.9843984870676373 51000000.00000001
6450881.5556661375
0.11455884399268773 0.9843984870676373 51000000.00000001
5935097.544725951
0.10539922456186433 0.9843984870676373 51000000.00000001
5460553.34630532
0.09697196786440505 0.9843984870676373 51000000.00000001
5023951.60705367
0.08921851740926011 0.9843984870676373 51000000.00000001
4622258.615437743
0.0820849986238988 0.9843984870676373 51000000.00000001
4252683.222105765
0.07552184450877376 0.9843984870676373 51000000.00000001
3912657.445686241
0.06948345122280154 0.9843984870676373 51000000.00000001
3599818.6292614616
0.06392786120670757 0.9843984870676373 51000000.00000001
3311993.023530594
0.05881647164242988 0.9843984870676373 51000000.00000001
3047180.6825906076
0.05411376622282161 0.9843984870676373 51000000.00000001
2803541.567383858
0.049787068367863944 0.9843984870676373 51000000.00000001
2579382.760252657

In [25]:
df["total_free_supply"] = df.sum(axis=1).cumsum()

In [80]:
df["total_free_supply_percent"] = df.total_free_supply / MAX_SUPPLY

In [81]:
df["max_circulating_supply"] = df.total_free_supply - df.loc[0, "INSURANCE FUND"]

In [89]:
df.sum(axis=0)

BETTING INCENTIVES                  $25,000,000
BETTING REBATES                     $25,000,000
IDO                                 $30,000,000
INSURANCE FUND                     $100,000,000
LP PROVIDERS                       $200,000,000
SEED                                $50,000,000
STAKERS                            $170,000,000
STAKING AIRDROP                     $20,000,000
TEAM                               $180,000,000
TREASURY                           $200,000,000
total_free_supply           $41,183,906,265,131
total_free_supply_percent               $41,184
max_circulating_supply      $41,179,106,265,131
dtype: float64

In [82]:
df

,BETTING INCENTIVES,BETTING REBATES,IDO,INSURANCE FUND,LP PROVIDERS,SEED,STAKERS,STAKING AIRDROP,TEAM,TREASURY,total_free_supply,total_free_supply_percent,max_circulating_supply
0,$0,$0,30000000,100000000,$0,50000000,$0,20000000,0,"$50,000,000","$1,450,000,001",$1,"$1,350,000,001"
1,$0,$0,0,0,"$23,060,158",0,"$1,393,034",0,5000000,"$4,166,667","$3,713,706,474",$4,"$3,613,706,474"
2,$0,$0,0,0,"$22,508,094",0,"$2,018,746",0,5000000,"$4,166,667","$7,157,280,661",$7,"$7,057,280,661"
3,$0,$0,0,0,"$21,631,747",0,"$3,440,604",0,5000000,"$4,166,667","$11,926,410,022",$12,"$11,826,410,022"
4,$0,$0,0,0,"$20,240,633",0,"$9,774,795",0,5000000,"$4,166,667","$18,163,693,535",$18,"$18,063,693,535"
5,$0,$0,0,0,"$18,032,377",0,"$14,088,533",0,5000000,"$4,166,667","$25,993,505,179",$26,"$25,893,505,179"
6,$0,$0,0,0,"$14,526,989",0,"$11,305,958",0,5000000,"$4,166,667","$35,517,397,481",$36,"$35,417,397,481"
7,$0,$0,0,0,"$4,509,358",0,"$4,252,960",0,5000000,"$4,166,667","$46,780,630,703",$47,"$46,680,630,703"
8,$0,$0,0,0,"$4,502,975",0,"$2,702,091",0,5000000,"$4,166,667","$59,873,753,286",$60,"$59,773,753,286"
9,$0,$0,0,0,"$4,496,385",0,"$2,023,280",0,5000000,"$4,166,667","$74,871,395,831",$75,"$74,771,395,831"
10,$0,$0,0,0,"$4,489,580",0,"$971,585",0,5000000,"$4,166,667","$91,852,870,595",$92,"$91,752,870,595"
11,$0,$0,0,0,"$4,482,554",0,"$1,199,265",0,5000000,"$4,166,667","$110,897,220,803",$111,"$110,797,220,803"
12,"$1,388,889","$1,041,667",0,0,"$4,475,300",0,"$1,528,897",0,5000000,"$4,166,667","$132,099,225,239",$132,"$131,999,225,239"
13,"$1,388,889","$1,041,667",0,0,"$4,467,811",0,"$2,046,403",0,5000000,"$4,166,667","$155,543,919,903",$156,"$155,443,919,903"
14,"$1,388,889","$1,041,667",0,0,"$4,460,078",0,"$2,971,915",0,5000000,"$4,166,667","$181,318,879,087",$181,"$181,218,879,087"
15,"$1,388,889","$1,041,667",0,0,"$4,452,094",0,"$5,089,785",0,5000000,"$4,166,667","$209,512,342,789",$210,"$209,412,342,789"
16,"$1,388,889","$1,041,667",0,0,"$4,443,850",0,"$14,780,815",0,5000000,"$4,166,667","$240,218,806,529",$240,"$240,118,806,529"
17,"$1,388,889","$1,041,667",0,0,"$4,435,339",0,"$19,661,119",0,5000000,"$4,166,667","$273,520,249,640",$274,"$273,420,249,640"
18,"$1,388,889","$1,041,667",0,0,"$4,426,552",0,"$17,188,284",0,5000000,"$4,166,667","$309,495,969,298",$309,"$309,395,969,298"
19,"$1,388,889","$1,041,667",0,0,"$4,417,479",0,"$6,309,081",0,5000000,"$4,166,667","$348,224,061,816",$348,"$348,124,061,816"
20,"$1,388,889","$1,041,667",0,0,"$4,408,111",0,"$3,987,195",0,5000000,"$4,166,667","$389,799,431,202",$390,"$389,699,431,202"
21,"$1,388,889","$1,041,667",0,0,"$4,398,439",0,"$2,978,636",0,5000000,"$4,166,667","$434,309,572,616",$434,"$434,209,572,616"
22,"$1,388,889","$1,041,667",0,0,"$4,388,453",0,"$2,416,303",0,5000000,"$4,166,667","$481,840,939,861",$482,"$481,740,939,861"
23,"$1,388,889","$1,041,667",0,0,"$4,378,143",0,"$2,058,716",0,5000000,"$4,166,667","$532,479,561,051",$532,"$532,379,561,051"
24,"$1,388,889","$1,041,667",0,0,"$4,367,498",0,"$1,812,000",0,5000000,"$4,166,667","$586,311,175,639",$586,"$586,211,175,639"
25,"$1,388,889","$1,041,667",0,0,$0,0,"$577,137",0,5000000,"$4,166,667","$643,374,948,509",$643,"$643,274,948,509"
26,"$1,388,889","$1,041,667",0,0,$0,0,"$740,563",0,5000000,"$4,166,667","$703,734,800,570",$704,"$703,634,800,570"
27,"$1,388,889","$1,041,667",0,0,$0,0,"$1,001,472",0,5000000,"$4,166,667","$767,448,911,274",$767,"$767,348,911,274"
28,"$1,388,889","$1,041,667",0,0,$0,0,"$1,481,780",0,5000000,"$4,166,667","$834,575,499,867",$835,"$834,475,499,867"
29,"$1,388,889","$1,041,667",0,0,$0,0,"$2,651,983",0,5000000,"$4,166,667","$905,173,163,916",$905,"$905,073,163,916"
30,$0,"$1,041,667",0,0,$0,0,"$9,699,457",0,5000000,"$4,166,667","$979,295,862,682",$979,"$979,195,862,682"
31,$0,"$1,041,667",0,0,$0,0,"$9,699,457",0,5000000,"$4,166,667","$1,056,990,070,103","$1,057","$1,056,890,070,103"
32,$0,"$1,041,667",0,0,$0,0,"$2,984,935",0,5000000,"$4,166,667","$1,138,301,073,825","$1,138","$1,138,201,073,825"
33,$0,"$1,041,667",0,0,$0,0,"$1,823,520",0,5000000,"$4,166,667","$1,223,286,282,807","$1,223","$1,223,186,282,807"
34,$0,"$1,041,667",0,0,$0,0,"$1,342,816",0,5000000,"$4,166,667","$1,311,998,069,374","$1,312","$1,311,898,069,374"
35,$0,"$1,041,667",0,0,$0,0,"$1,080,706",0,5000000,"$4,166,667","$1,404,488,159,386","$1,404","$1,404,388,159,386"
36,$0,$0,0,0,$0,0,"$916,173",0,5000000,"$4,166,667","$1,500,800,659,094","$1,501","$1,500,700,659,094"
37,$0,$0,0,0,$0,0,$0,0,0,$0,"$1,600,903,075,967","$1,601","$1,600,803,075,967"
38,$0,$0,0,0,$0,0,$0,0,0,$0,"$1,704,805,492,843","$1,705","$1,704,705,492,843"
39,$0,$0,0,0,$0,0,$0,0,0,$0,"$1,812,507,909,724","$1,813","$1,812,407,909,724"
40,$0,$0,0,0,$0,0,$0,0,0,$0,"$1,924,010,326,608","$1,924","$1,923,910,326,608"
41,$0,$0,0,0,$0,0,$0,0,0,$0,"$2,039,312,743,496","$2,039","$2,039,212,743,496"
42,$0,$0,0,0,$0,0,$0,0,0,$0,"$2,158,415,160,388","$2,158","$2,158,315,160,388"
43,$0,$0,0,0,$0,0,$0,0,0,$0,"$2,281,317,577,284","$2,281","$2,281,217,577,284"
44,$0,$0,0,0,$0,0,$0,0,0,$0,"$2,408,019,994,184","$2,408","$2,407,919,994,184"
45,$0,$0,0,0,$0,0,$0,0,0,$0,"$2,538,522,411,088","$2,539","$2,538,422,411,088"
46,$0,$0,0,0,$0,0,$0,0,0,$0,"$2,672,824,827,995","$2,673","$2,672,724,827,995"
47,$0,$0,0,0,$0,0,$0,0,0,$0,"$2,810,927,244,907","$2,811","$2,810,827,244,907"

In [83]:
rates = [90, 70, 50, 30]

In [84]:
output_yields = pd.DataFrame(columns=["type", "rate", "year", "percent"])

In [85]:
print("Staking yield\n---------------")
for rate in rates:
    print(f"Rate {rate}%")
    year_one_rate = df.loc[1:12, "STAKERS"].sum() / (
        df.loc[0, "max_circulating_supply"] * rate / 100
    )
    year_two_rate = df.loc[13:24, "STAKERS"].sum() / (
        df.loc[12, "max_circulating_supply"] * rate / 100
    )
    year_three_rate = df.loc[25:36, "STAKERS"].sum() / (
        df.loc[24, "max_circulating_supply"] * rate / 100
    )

    print("\tYear one rate:", "{:.2%}".format(year_one_rate))
    print("\tYear two rate:", "{:.2%}".format(year_two_rate))
    print("\tYear three rate:", "{:.2%}".format(year_three_rate))

    output_yields.loc[len(output_yields) + 1] = [
        "staking yields",
        rate,
        1,
        year_one_rate,
    ]
    output_yields.loc[len(output_yields) + 1] = [
        "staking yields",
        rate,
        2,
        year_two_rate,
    ]
    output_yields.loc[len(output_yields) + 1] = [
        "staking yields",
        rate,
        3,
        year_three_rate,
    ]

Staking yield
---------------
Rate 90%
	Year one rate: 4.50%
	Year two rate: 0.07%
	Year three rate: 0.01%
Rate 70%
	Year one rate: 5.79%
	Year two rate: 0.09%
	Year three rate: 0.01%
Rate 50%
	Year one rate: 8.10%
	Year two rate: 0.12%
	Year three rate: 0.01%
Rate 30%
	Year one rate: 13.51%
	Year two rate: 0.21%
	Year three rate: 0.02%

In [86]:
print("LP yield\n---------------")
for rate in rates:
    print(f"Rate {rate}%")
    year_one_rate = df.loc[1:12, "LP PROVIDERS"].sum() / (
        df.max_circulating_supply.loc[0] * (1 - rate / 100)
    )
    year_two_rate = df.loc[13:24, "LP PROVIDERS"].sum() / (
        df.max_circulating_supply.loc[12] * (1 - rate / 100)
    )
    year_three_rate = df.loc[25:36, "LP PROVIDERS"].sum() / (
        df.max_circulating_supply.loc[24] * (1 - rate / 100)
    )

    print("\tYear one rate:", "{:.2%}".format(year_one_rate))
    print("\tYear two rate:", "{:.2%}".format(year_two_rate))
    print("\tYear three rate:", "{:.2%}".format(year_three_rate))

    output_yields.loc[len(output_yields) + 1] = ["lp yields", rate, 1, year_one_rate]
    output_yields.loc[len(output_yields) + 1] = ["lp yields", rate, 2, year_two_rate]
    output_yields.loc[len(output_yields) + 1] = ["lp yields", rate, 3, year_three_rate]

LP yield
---------------
Rate 90%
	Year one rate: 108.86%
	Year two rate: 0.40%
	Year three rate: 0.00%
Rate 70%
	Year one rate: 36.29%
	Year two rate: 0.13%
	Year three rate: 0.00%
Rate 50%
	Year one rate: 21.77%
	Year two rate: 0.08%
	Year three rate: 0.00%
Rate 30%
	Year one rate: 15.55%
	Year two rate: 0.06%
	Year three rate: 0.00%

In [87]:
output_yields

              type rate year  percent
1   staking yields   90    1       $0
2   staking yields   90    2       $0
3   staking yields   90    3       $0
4   staking yields   70    1       $0
5   staking yields   70    2       $0
6   staking yields   70    3       $0
7   staking yields   50    1       $0
8   staking yields   50    2       $0
9   staking yields   50    3       $0
10  staking yields   30    1       $0
11  staking yields   30    2       $0
12  staking yields   30    3       $0
13       lp yields   90    1       $1
14       lp yields   90    2       $0
15       lp yields   90    3       $0
16       lp yields   70    1       $0
17       lp yields   70    2       $0
18       lp yields   70    3       $0
19       lp yields   50    1       $0
20       lp yields   50    2       $0
21       lp yields   50    3       $0
22       lp yields   30    1       $0
23       lp yields   30    2       $0
24       lp yields   30    3       $0

In [50]:
path = r"output.xlsx"

writer = pd.ExcelWriter(path, engine="xlsxwriter")
df.to_excel(writer, sheet_name="table")
output_yields.to_excel(writer, sheet_name="yields")
writer.save()
writer.close()